# SPDX-FileCopyrightText: 2026 Dominik Wombacher <dominik@wombacher.cc>
#
# SPDX-License-Identifier: CC0-1.0

[submodule "theme/xlii"]
	path = theme/xlii
	url = https://github.com/wombelix/pelican-theme-xlii
