# SPDX-FileCopyrightText: 2023 Dominik Wombacher <dominik@wombacher.cc>
#
# SPDX-License-Identifier: CC0-1.0

[submodule "theme/xlii"]
	path = theme/xlii
	url = https://codeberg.org/wombelix/pelican-theme-xlii.git
